<section class="content">
    <h2 class="page-header text-right vazir-font">فرم ها</h2>
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">مثال سریع</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body text-right">
                        <div class="form-group">
                            <label for="exampleInputEmail1">ایمیل</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">رمز</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">فایل</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">برای ورود لطفا اطلاعات را به درستی وارد کنید</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> مرا به خاطر بسپار
                            </label>
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">ورود</button>
                    </div>
                </form>
            </div><!-- /.box -->
            <!-- Form Element sizes -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">ارتفاع متفاوت</h3>
                </div>
                <div class="box-body">
                    <input class="form-control input-lg" type="text" placeholder=".input-lg">
                    <br>
                    <input class="form-control" type="text" placeholder="Default input">
                    <br>
                    <input class="form-control input-sm" type="text" placeholder=".input-sm">
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <!-- Input addon -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">ورودی علامت دار</h3>
                </div>
                <div class="box-body text-right">
                    <div class="input-group input-group-ltr">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <br>
                    <div class="input-group input-group-ltr">
                        <input type="text" class="form-control">
                        <span class="input-group-addon">.00</span>
                    </div>
                    <br>
                    <div class="input-group input-group-ltr">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control">
                        <span class="input-group-addon">.00</span>
                    </div>

                    <h4>همراه با آیکون</h4>
                    <div class="input-group input-group-ltr">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <br>
                    <div class="input-group input-group-ltr">
                        <input type="text" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-check"></i></span>
                    </div>
                    <br>
                    <div class="input-group input-group-ltr">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input type="text" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-ambulance"></i></span>
                    </div>

                    <h4>همراه با چک باکس و رادیو باتن</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group input-group-ltr">
                                <span class="input-group-addon">
                                    <input type="checkbox">
                                </span>
                                <input type="text" class="form-control">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-group input-group-ltr">
                                <span class="input-group-addon">
                                    <input type="radio">
                                </span>
                                <input type="text" class="form-control">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->

                    <h4>با دکمه</h4>
                    <p class="margin text-left">Large: <code>.input-group.input-group-lg</code></p>
                    <div class="input-group input-group-lg input-group-ltr">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Action <span class="fa fa-caret-down"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control">
                    </div><!-- /input-group -->
                    <p class="margin">معمولی</p>
                    <div class="input-group input-group-ltr">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-danger">Action</button>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control">
                    </div><!-- /input-group -->
                    <p class="margin text-left">Small <code>.input-group.input-group-sm</code></p>
                    <div class="input-group input-group-sm input-group-ltr">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </div><!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">فرم افقی</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body text-right">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label">ایمیل</label>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                            <label for="inputPassword3" class="col-sm-2 control-label">رمز</label>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> مرا به خاطر بسپار
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default pull-right">بازگشت</button>
                        <button type="submit" class="btn btn-info">ورود</button>
                    </div><!-- /.box-footer -->
                </form>
            </div><!-- /.box -->
            <!-- general form elements disabled -->
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">کنترل های سفارشی</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <form role="form">
                        <!-- text input -->
                        <div class="form-group text-right">
                            <label>ورودی</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                        <div class="form-group text-right">
                            <label>ورودی غیر فعال</label>
                            <input type="text" class="form-control" placeholder="Enter ..." disabled="">
                        </div>

                        <!-- textarea -->
                        <div class="form-group text-right">
                            <label>منطقه نوشتاری</label>
                            <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                        </div>
                        <div class="form-group text-right">
                            <label>منطقه نوشتاری غیر فعال</label>
                            <textarea class="form-control" rows="3" placeholder="Enter ..." disabled=""></textarea>
                        </div>

                        <!-- input states -->
                        <div class="form-group has-success text-right">
                            <label class="control-label" for="inputSuccess"> ورودی موفق <i class="fa fa-check"></i></label>
                            <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ...">
                        </div>
                        <div class="form-group has-warning text-right">
                            <label class="control-label" for="inputWarning"> ورودی با هشدار <i class="fa fa-bell-o"></i></label>
                            <input type="text" class="form-control" id="inputWarning" placeholder="Enter ...">
                        </div>
                        <div class="form-group has-error text-right">
                            <label class="control-label" for="inputError"> ورودی با خطا <i class="fa fa-times-circle-o"></i></label>
                            <input type="text" class="form-control" id="inputError" placeholder="Enter ...">
                        </div>

                        <!-- checkbox -->
                        <div class="form-group text-right">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                   1 چک باکس
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    2 چک باکس
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" disabled="">
                                    چک باکس غیر فعال
                                </label>
                            </div>
                        </div>

                        <!-- radio -->
                        <div class="form-group text-right">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                    رادیو باتن 1
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    رادیو باتن 2
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                                    رادیو باتن 3
                                </label>
                            </div>
                        </div>


                    </form>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">طول متفاوت</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <input type="text" class="form-control" placeholder=".col-xs-3">
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" placeholder=".col-xs-4">
                        </div>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" placeholder=".col-xs-5">
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!--/.col (right) -->
    </div>   <!-- /.row -->
</section>