<section class="content">

<h2 class="page-header text-right vazir-font">ویجت ها</h2>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">پیام ها</span>
                    <span class="info-box-number">1,410</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">علامت دارها</span>
                    <span class="info-box-number">410</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">آپلود ها</span>
                    <span class="info-box-number">13,648</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">لایک ها</span>
                    <span class="info-box-number">93,139</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    <!-- =========================================================== -->

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">علامت دارها</span>
                    <span class="info-box-number">41,410</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% درصد بیشتر شده
                    </span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">لایک ها</span>
                    <span class="info-box-number">41,410</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% درصد بیشتر شده
                    </span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-calendar"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">رویداد ها</span>
                    <span class="info-box-number">41,410</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% درصد بیشتر شده
                    </span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">کامنت ها</span>
                    <span class="info-box-number">41,410</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% درصد بیشتر شده
                    </span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    <!-- =========================================================== -->
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>150</h3>
                    <p>سفارش جدید</p>
                </div>
                <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <a href="#/" class="small-box-footer">
                    اطلاعات بیشتر <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>امتیاز</p>
                </div>
                <div class="icon">
                    <i class="fa fa-bars"></i>
                </div>
                <a href="#/" class="small-box-footer">
                    اطلاعات بیشتر <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>44</h3>
                    <p>کاربران ثبت نام کرده</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <a href="#/" class="small-box-footer">
                    اطلاعات بیشتر <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>65</h3>
                    <p>مشتریان ثابت</p>
                </div>
                <div class="icon">
                    <i class="fa fa-flag"></i>
                </div>
                <a href="#/" class="small-box-footer">
                    اطلاعات بیشتر <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->
    <!-- =========================================================== -->

    <div class="row">
        <div class="col-md-3">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">قابل باز شدن</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body persian-rtl">
                    متن فارسی که میتوان در داخل پنل نمایش داد
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-3">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">قابل حذف</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body persian-rtl">
                    متن فارسی که میتوان در داخل پنل نمایش داد
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-3">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">قابل بسته شدن</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body persian-rtl">
                    متن فارسی که میتوان در داخل پنل نمایش داد
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-3">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">لود حالت</h3>
                </div>
                <div class="box-body persian-rtl">
                    متن فارسی که میتوان در داخل پنل نمایش داد
                </div><!-- /.box-body -->
                <!-- Loading (remove the following to stop the loading)-->
                <div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    <!-- =========================================================== -->

    <div class="row">
        <div class="col-md-3">
            <div class="box box-default collapsed-box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">قابل بازشدن</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body persian-rtl">
                    متن فارسی که میتوان در داخل پنل نمایش داد
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-3">
            <div class="box box-success box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">قابل بسته شدن</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body persian-rtl">
                    متن فارسی که میتوان در داخل پنل نمایش داد
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-3">
            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">قابل بستن</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body persian-rtl">
                    متن فارسی که میتوان در داخل پنل نمایش داد
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-3">
            <div class="box box-danger box-solid">
                <div class="box-header">
                    <h3 class="box-title">در حال لود ...</h3>
                </div>
                <div class="box-body persian-rtl">
                    متن فارسی که میتوان در داخل پنل نمایش داد
                </div><!-- /.box-body -->
                <!-- Loading (remove the following to stop the loading)-->
                <div class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
    <!-- =========================================================== -->
    <!-- Direct Chat -->
    <div class="row">
        <div class="col-md-3">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">چت مستقیم</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right">مسعود خانلو</span>
                                <span class="direct-chat-timestamp pull-left persian-rtl">2:00 ۱۷-اردیبهشت-۱۳۹۵</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="../images/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                این تمپلیت  خیلی خوبه ، من هم میتونم از این استفاده کنم ؟
                            </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->
                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">میلاد بنکدار</span>
                                <span class="direct-chat-timestamp pull-right persian-rtl">2:00 ۱۷-اردیبهشت-۱۳۹۵</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="../images/user6-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                بله ، اون هم به صورت نامحدود!
                            </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->
                    </div><!--/.direct-chat-messages-->
                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts">
                        <ul class="contacts-list">
                            <li>
                                <a href="#/">
                                    <img class="contacts-list-img" src="../images/user1-128x128.jpg">
                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            Count Dracula
                                            <small class="contacts-list-date pull-right">2/28/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">How have you been? I was...</span>
                                    </div><!-- /.contacts-list-info -->
                                </a>
                            </li><!-- End Contact Item -->
                        </ul><!-- /.contatcts-list -->
                    </div><!-- /.direct-chat-pane -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="text" name="message" placeholder="پیام ..." class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat">ارسال</button>
                            </span>
                        </div>
                    </form>
                </div><!-- /.box-footer-->
            </div><!--/.direct-chat -->
        </div><!-- /.col -->

        <div class="col-md-3">
            <!-- DIRECT CHAT SUCCESS -->
            <div class="box box-success direct-chat direct-chat-success">
                <div class="box-header with-border">
                    <h3 class="box-title">چت مستقیم</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="3 New Messages" class="badge bg-green">3</span>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right">مسعود خانلو</span>
                                <span class="direct-chat-timestamp pull-left">23 Jan 2:00 pm</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="../images/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                این تمپلیت  خیلی خوبه ، من هم میتونم از این استفاده کنم ؟
                            </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->
                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">امید نقی پور</span>
                                <span class="direct-chat-timestamp pull-right">23 Jan 2:05 pm</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="../images/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                بله ، اون هم به صورت نامحدود!
                            </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->
                    </div><!--/.direct-chat-messages-->
                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts">
                        <ul class="contacts-list">
                            <li>
                                <a href="#/">
                                    <img class="contacts-list-img" src="../images/user1-128x128.jpg">
                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            Count Dracula
                                            <small class="contacts-list-date pull-right">2/28/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">How have you been? I was...</span>
                                    </div><!-- /.contacts-list-info -->
                                </a>
                            </li><!-- End Contact Item -->
                        </ul><!-- /.contatcts-list -->
                    </div><!-- /.direct-chat-pane -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="text" name="message" placeholder="پیام ..." class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat">ارسال</button>
                            </span>
                        </div>
                    </form>
                </div><!-- /.box-footer-->
            </div><!--/.direct-chat -->
        </div><!-- /.col -->

        <div class="col-md-3">
            <!-- DIRECT CHAT WARNING -->
            <div class="box box-warning direct-chat direct-chat-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">چت مستقیم</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">3</span>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right">مسعود خانلو</span>
                                <span class="direct-chat-timestamp pull-left">23 Jan 2:00 pm</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="../images/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                این تمپلیت  خیلی خوبه ، من هم میتونم از این استفاده کنم ؟
                            </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->
                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">علی کریمی</span>
                                <span class="direct-chat-timestamp pull-right">23 Jan 2:05 pm</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="../images/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                بله ، اون هم به صورت نامحدود!
                            </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->
                    </div><!--/.direct-chat-messages-->
                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts">
                        <ul class="contacts-list">
                            <li>
                                <a href="#/">
                                    <img class="contacts-list-img" src="../images/user1-128x128.jpg">
                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            میلاد بنکدار
                                            <small class="contacts-list-date pull-right">2/28/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">How have you been? I was...</span>
                                    </div><!-- /.contacts-list-info -->
                                </a>
                            </li><!-- End Contact Item -->
                        </ul><!-- /.contatcts-list -->
                    </div><!-- /.direct-chat-pane -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="text" name="message" placeholder="پیام ..." class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat">ارسال</button>
                            </span>
                        </div>
                    </form>
                </div><!-- /.box-footer-->
            </div><!--/.direct-chat -->
        </div><!-- /.col -->

        <div class="col-md-3">
            <!-- DIRECT CHAT DANGER -->
            <div class="box box-danger direct-chat direct-chat-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">چت مستقیم</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="3 New Messages" class="badge bg-red">3</span>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right">مسعود خانلو</span>
                                <span class="direct-chat-timestamp pull-left">23 Jan 2:00 pm</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="../images/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                این تمپلیت  خیلی خوبه ، من هم میتونم از این استفاده کنم ؟
                            </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->
                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">امید نقی پور</span>
                                <span class="direct-chat-timestamp pull-right">23 Jan 2:05 pm</span>
                            </div><!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="../images/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                بله ، اون هم به صورت نامحدود!
                            </div><!-- /.direct-chat-text -->
                        </div><!-- /.direct-chat-msg -->
                    </div><!--/.direct-chat-messages-->
                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts">
                        <ul class="contacts-list">
                            <li>
                                <a href="#/">
                                    <img class="contacts-list-img" src="../images/user1-128x128.jpg">
                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            علی کریمی
                                            <small class="contacts-list-date pull-right">2/28/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">How have you been? I was...</span>
                                    </div><!-- /.contacts-list-info -->
                                </a>
                            </li><!-- End Contact Item -->
                        </ul><!-- /.contatcts-list -->
                    </div><!-- /.direct-chat-pane -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="text" name="message" placeholder="پیام ..." class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat">ارسال</button>
                            </span>
                        </div>
                    </form>
                </div><!-- /.box-footer-->
            </div><!--/.direct-chat -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <h2 class="page-header text-right vazir-font">ویجت های پروفایلی</h2>

    <div class="row">
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        <img class="img-circle" src="../images/user6-128x128.jpg" alt="User Avatar">
                    </div><!-- /.widget-user-image -->
                    <h3 class="widget-user-username">میلاد بنکدار</h3>
                    <h5 class="widget-user-desc">توسعه دهنده</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#/">پروژه ها <span class="pull-left badge bg-blue">31</span></a></li>
                        <li><a href="#/">کارها <span class="pull-left badge bg-aqua">5</span></a></li>
                        <li><a href="#/">پروژه های پایان یافته <span class="pull-left badge bg-green">12</span></a></li>
                        <li><a href="#/">دنبال کنندگان <span class="pull-left badge bg-red">842</span></a></li>
                    </ul>
                </div>
            </div><!-- /.widget-user -->
        </div><!-- /.col -->
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">مسعود خانلو</h3>
                    <h5 class="widget-user-desc">توسعه دهنده وب</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="../images/user1-128x128.jpg" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">3,200</h5>
                                <span class="description-text">فروش</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">13,000</h5>
                                <span class="description-text">دنبال کنندگان</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">35</h5>
                                <span class="description-text">محصولات</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div><!-- /.widget-user -->
        </div><!-- /.col -->

        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black" style="background: url('../images/photo1.png') center center;">
                    <h3 class="widget-user-username">نادیا معصومی</h3>
                    <h5 class="widget-user-desc">طراح وب</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="../images/user3-128x128.jpg" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">3,200</h5>
                                <span class="description-text">فروش</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">13,000</h5>
                                <span class="description-text">دنبال کنندگان</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">35</h5>
                                <span class="description-text">محصولات</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div><!-- /.widget-user -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="../images/user1-128x128.jpg" alt="user image">
                        <span class="username"><a href="#/">مسعود خانلو</a></span>
                        <span class="description">پست عمومی - 7:30 امروز</span>
                    </div><!-- /.user-block -->
                    <div class="box-tools">
                        <button class="btn btn-box-tool vazir-font" data-toggle="tooltip" title="علامت زدن به عنوان خوانده شده"><i class="fa fa-circle-o"></i></button>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <img class="img-responsive pad" src="../images/photo2.png" alt="Photo">
                    <p class="persian-rtl text-right">من این عکس رو صبح گرفتم ، نظرتون چیه ؟</p>
                    <button class="btn btn-default btn-xs"> اشتراک <i class="fa fa-share"></i></button>
                    <button class="btn btn-default btn-xs"> لایک داری <i class="fa fa-thumbs-o-up"></i></button>
                    <span class="pull-right text-muted persian-rtl">127 لایک - 2 نظر</span>
                </div><!-- /.box-body -->
                <div class="box-footer box-comments">
                    <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="../images/user3-128x128.jpg" alt="user image">
                        <div class="comment-text">
                            <span class="username">
                                ماریا
                                <span class="text-muted pull-left">
                                    8:03  امروز
                                </span><!-- /.username -->
                            </span>
                            <p class="persian-rtl text-right">
                                 واقعا دوست داشتنیه امیدوارم روزه خوبی داشته باشید!
                            </p>
                        </div><!-- /.comment-text -->
                    </div><!-- /.box-comment -->
                    <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="../images/user4-128x128.jpg" alt="user image">
                        <div class="comment-text">
                            <span class="username">
                                میلاد بنکدار
                                <span class="text-muted pull-left">8:03 امروز</span>
                            </span><!-- /.username -->
                            <p class="persian-rtl text-right"> جهنم دیگه ! اینم خوبه اصلا. ولی اون چیزی که طراحی رو بارز و متمایز میکنه سبکشه نه صرفا نواوری که توش بکار رفته!
                            </p>
                        </div><!-- /.comment-text -->
                    </div><!-- /.box-comment -->
                </div><!-- /.box-footer -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <img class="img-responsive img-circle img-sm" src="../images/user4-128x128.jpg" alt="alt text">
                        <!-- .img-push is used to add margin to elements next to floating images -->
                        <div class="img-push">
                            <input type="text" class="form-control input-sm text-right persian-rtl" placeholder="برای ارسال بر روی Enter کلیک کنید ...">
                        </div>
                    </form>
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-6">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="../images/user1-128x128.jpg" alt="user image">
                        <span class="username"><a href="#/">میلاد بنکدار</a></span>
                        <span class="description">اشتراک گذاشته شده به صورت عمومی - 7:30 امروز</span>
                    </div><!-- /.user-block -->
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-toggle="tooltip" title="علامت زدن به عنوان خوانده شده"><i class="fa fa-circle-o"></i></button>
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- post text -->
                    <p class="persian-rtl text-right">
                        لطفا متن زیر رو به دقت بخونید : 
                    </p>
                    <p class="persian-rtl text-right">
                        پایتخت، بزرگ‌ترین شهر و مرکز فرهنگی، اقتصادی، سیاسی و اداری ایران، تهران است. ایران یک قدرت متوسط ‏‏ و منطقه‌ای ‏‏ مهم در خاورمیانه است که بواسطه ذخایر بزرگ سوخت فسیلی‌اش که شامل بزرگترین میدان گاز طبیعی در جهان و چهارمین ذخایر نفتی ‏‏ بزرگ کشف و تأیید شده می‌شود، نفوذ و نقش قابل توجهی در امنیت بین‌المللی انرژی ‏‏ داشته و صنعت نفت، پتروشیمی و گاز طبیعی در ایران پیش‌تاز است.
                        <br/><br />
                        همچنین ایران میراث فرهنگی غنی دارد که بخشی از آن به عنوان ۱۹ میراث جهانی در یونسکو ثبت شده است که به عنوان چهارمین رتبه در آسیا و ۱۲مین رتبه در جهان است. ایران به واسطهٔ قرار گرفتن در منطقهٔ میانی اوراسیا موقعیتی راهبردی دارد.
                    </p>

                    <!-- Attachment -->
                    <div class="attachment-block clearfix">
                        <img class="attachment-img" src="../images/photo1.png" alt="attachment image">
                        <div class="attachment-pushed">
                            <h4 class="attachment-heading persian-rtl"><a >تاریخ ایران</a></h4>
                            <div class="attachment-text persian-rtl">
                                مهمترین صنایع و معادن ایران عبارتست از: نفت و گاز. ایران، سومین ذخایر نفتی جهان، یازده درصد ذخایر ثابت شده نفتی زمین معادل ۱۳۰ میلیارد بشکه؛ و نیز دومین ذخایر گازی جهان، هجده درصد ذخایر ثابت شده گاز زمین، معادل ۲۶ تریلیون متر مکعب را در اختیار خود دارد. <a href="#/">بیشتر</a>
                            </div><!-- /.attachment-text -->
                        </div><!-- /.attachment-pushed -->
                    </div><!-- /.attachment-block -->
                    <!-- Social sharing buttons -->
                    <button class="btn btn-default btn-xs"> اشتراک <i class="fa fa-share"></i></button>
                    <button class="btn btn-default btn-xs"> لایک داری <i class="fa fa-thumbs-o-up"></i></button>
                    <span class="pull-right text-muted persian-rtl">45 لایک - 2 نظر</span>
                </div><!-- /.box-body -->
                <div class="box-footer box-comments">
                    <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="../images/user3-128x128.jpg" alt="user image">
                        <div class="comment-text">
                            <span class="username">
                                ماریا
                                <span class="text-muted pull-left">8:03 امروز</span>
                            </span><!-- /.username -->
                            <p class="persian-rtl text-right">
                                بله با گفته های شما کاملا موافقم.
                            </p>
                        </div><!-- /.comment-text -->
                    </div><!-- /.box-comment -->
                    <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="../images/user5-128x128.jpg" alt="user image">
                        <div class="comment-text">
                            <span class="username">
                                مسعود خانلو
                                <span class="text-muted pull-left">8:03 امروز</span>
                            </span><!-- /.username -->
                            <p class="persian-rtl text-right">
                                بیشترین معادن در حال بهره‌برداری در استان‌های خراسان وجود دارد.
                                <br/><br/>
                                دیگر معادن مهم ایران عبارت‌اند از: معادن کانیهای فلزی: آهن، منگنز، کرومیت، مس، سرب، روی، نیکل، کبالت، طلا، نقره و اورانیوم؛ معدنی شیمیایی: گوگرد، نمک؛ سنگهای تزئینی مانند فیروزه؛ شن و ماسه؛ و زغال سنگ.
                            </p>
                        </div><!-- /.comment-text -->
                    </div><!-- /.box-comment -->
                </div><!-- /.box-footer -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <img class="img-responsive img-circle img-sm" src="../images/user4-128x128.jpg" alt="alt text">
                        <!-- .img-push is used to add margin to elements next to floating images -->
                        <div class="img-push">
                            <input type="text" class="form-control input-sm persian-rtl text-right" placeholder="برای ارسال بر روی Enter کلیک کنید ...">
                        </div>
                    </form>
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->

</section>