h5 ,h4 ,h3 ,h2 ,h1 {
    font-family: 'Vazir', Tahoma;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
@media (max-width: 767px) {
  .sidebar-open .content-wrapper,
  .sidebar-open .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}

/* fix for sliding sidebar */
.sidebar a { 
	direction : rtl;
	text-align: right;
}

.sidebar-menu > li > a {
  padding: 12px 15px 12px 5px;
  cursor : pointer;
}

.sidebar-menu li > a > .pull-right {
  /left: -5px;
  text-align: left;
}

.sidebar-menu > li.header {
    text-align: right;
}
.user-panel > .info {
	text-align:right;
}
.user-panel > .info > p {
    font-weight: initial;
}

.input-group{
	direction : rtl;
}

.input-group-ltr{
	direction : ltr;
}
.checkbox label, .radio label {
    padding-left: 0;
    padding-right: 20px;
	direction : rtl;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    
    margin-right: -20px;
}

/* fix for message box*/
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto auto auto 10px;
  text-align:right;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 45px 0 0 ;
  text-align:right;
  direction : rtl;
  white-space: normal;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  margin: 0 45px 0 0 ;
  text-align:right;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  direction : rtl;
  text-align : center;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  direction : rtl;
  text-align:right;
}

/* fix for content header */
.content-header > h1 {
	text-align: right;
}
.content-header > .breadcrumb {
	direction : rtl;
	padding-top:3px;
}
.content-header {
	padding-top:5px;
	padding-bottom:5px;
}


.info-box-text {
    direction: rtl;
    text-align: right;
}

.info-box-number {
    /direction: rtl;
    /text-align: right;
    /padding-top: 5px;
}

/* fix controls */
.table{
    direction: rtl;
}

.table > tbody > tr > th {
    text-align: right;
}

.box-header {
    /direction: rtl;
    text-align: right;
}

.progress-description {
    direction: rtl;
    text-align: right;
}

.small-box > .inner {
    direction: rtl;
    text-align: right;
}

.nav-stacked {
    text-align: right;
}

.direct-chat-text {
    margin: 5px 50px 0 0;
    text-align: right;
    direction: rtl;
}

.widget-user .widget-user-username {
    text-align: right;
    direction: rtl;
}

.box-comments .username {
    text-align: right;
    direction: rtl;
}

.attachment-block .attachment-heading {
    text-align: right;
}
.attachment-block .attachment-text {
    text-align: right;
}

/* fix for pallete */

.color-palette {
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.color-palette-set {
    margin-bottom: 15px;
}

.color-palette span {
    display: none;
    font-size: 12px;
}

.color-palette:hover span {
    display: block;
}

.color-palette-box h4 {
    position: absolute;
    top: 100%;
    left: 25px;
    margin-top: -40px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    display: block;
    z-index: 7;
}

.timeline > li {
    text-align: right;
}

.left-radius-btn{
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-left: 0;
    margin-right: -1px;
}

.nav-tabs>li {
    float: right;
}
