<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="content-header vazir-font">
        <small>جواب های شما</small>
        همه جواب ها
    </h1>

    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active"> فعالیت ها </li>
        <li class="active">جواب های شما</li>
    </ol>
</section>
<div class="row">
    <div class="col-xs-12">

        <div class="col-xs-12" ng-hide="ShowEdit">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title vazir-font">جواب های شما</h3>
                    <i class="fa fa-question text-muted"></i>
                    <div class="box-tools">
                        <button class="btn btn-sm btn-success" ui-sref="new_question">پرسیدن سوال</button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th colspan="2">جواب به</th>
                            <th>خلاصه جواب شما</th>
                            <th></th>
                            <th>تاریخ</th>
                            <th>وضعیت تایید ادمین</th>
                            <th style="width: 150px"></th>
                        </tr>
                        <tr ng-repeat="q in answer.all"
                            class="link fx-zoom-right fx-dur-600 fx-ease-expo fx-stagger-20"
                            >
                            <td  style="width: 50px;" ui-sref="question({id:q.QuestionID})">
                                <img class="img-circle" ng-src="{{q.QuestionerImage}}"
                                     style="width:40px;" err-src="../images/Avatar.jpg">
                            </td>
                            <td ui-sref="question({id:q.QuestionID})" style="vertical-align: middle;">{{q.FullName | subString :20|pNumber}}</td>

                            <td ui-sref="question({id:q.QuestionID})" class="max-col-width-100" compile="q.AnswerText| subString :50|pNumber"></td>
                            <td ui-sref="question({id:q.QuestionID})" >{{q.SubjectTitle| subString :50 |pNumber}}</td>
                            <td ui-sref="question({id:q.QuestionID})">
                                <span class="persian-rtl text-muted">{{q.CreationDate | jalaliDate :'jYYYY/jMM/jDD'|pNumber}}</span>
                            </td>
                            <td ng-switch="q.AdminAccepted" ui-sref="question({id:q.QuestionID})">
                                <span class="label label-danger" ng-switch-when="-1" >رد شده</span>
                                <span class="label label-warning" ng-switch-when="0">در انتظار تایید</span>
                                <span class="label label-success" ng-switch-when="1" >تایید شده</span>
                            </td>

                            <td>
                                <div class="table-action-icons">
                                    <i ng-if="q.AdminAccepted == 0" confirm="آیا مطمئن هستید که میخواهید این پیام را حذف کنید؟"
                                       class="fa fa-trash text-red link hvr-grow" ng-click="deleteAnswer(q)" title="حذف پیام" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i>
                                    <i ng-if="q.AdminAccepted == 0" class="fa fa-eye text-blue link hvr-grow" ng-click="openAnswerModal(q)" title="متن پیام" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i>
                                    <i ng-if="q.AdminAccepted == 0" class="fa fa-pencil text-green link hvr-grow" ng-click="editAnswer(q)" title="ویرایش پیام" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    <auto-paging page="1"
                                 page-size="20"
                                 ul-class="pagination pagination-sm no-margin"
                                 action-name="getAllMyAnswers"
                                 data-params="pagingParams"
                                 ng-control="pagingController"
                                 on-load-finish="loadFinishPageData()"
                                 items="answer.all">
                    </auto-paging>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12 pull-right" ng-show="ShowEdit" id="test">
            <div class="box box-danger">
                <div class="box-header with-border" style="padding: 5px;">
                    <h3 class="box-title">پاسخ خود را وارد کنید</h3>&nbsp;&nbsp;
                    <img class="img-circle" ng-src="{{user.Image}}" style="width:40px"
                         err-src="../images/Avatar.jpg" src="../images/Avatar.jpg">
                </div>
                <div class="box-body box-profile">

                    <div class="row">

                        <div class="form-group col-xs-12 " ng-class="errForum.text? 'has-error':''">
                            <div class="persian-rtl">
                                <div text-angular id="body" ng-model="answerTextIn" ng-change="fieldChanged()"
                                     placeholder="متن کامل پاسخ ... "
                                     class="my-large-area"></div>
                            </div>
                        </div>
                        <!--<div class="col-sm-3 col-xs-12 pull-right">-->
                        <!--<img class="profile-user-img img-responsive img-circle" alt="User profile picture" err-src="../images/Avatar.jpg" src="{{user.Image}}">-->
                        <!--<a style="cursor: pointer; color: black">-->
                        <!--<h3 class="text-center profile-username">{{user.FullName | pNumber}}</h3>-->
                        <!--</a>-->
                        <!--<p class="text-muted text-center">{{user.Email | pNumber}}</p>-->
                        <!--</div>-->
                        <div class="col-xs-12">
                            <button ng-click="saveAnswer()" class="btn btn-primary pull-left col-sm-4 col-xs-12"><b>
                                ثبت</b></button>
                            <button ng-click="ShowEdit = false; myFiles=[];answerTextIn=''" class="btn btn-info pull-right col-sm-4 col-xs-12"><b>بستن</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 pull-left" ng-show="ShowEdit">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title vazir-font"> فایل های ضمیمه پاسخ </h3>
                    <i class="fa fa-paperclip fa-2x text-muted faa-ring animated"></i>
                </div><!-- /.box-header -->
                <div class="box-body persian-rtl" >
                    <div ng-repeat="f in myFiles">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img ngf-thumbnail="f||'../images/Avatar.jpg'" style="width:50px;height: 50px;"
                                     class="img-circle pull-left" >
                                <span style="padding-left: 5px;word-wrap: break-word;line-height: 50px;" class="text-left pull-left" >
                                    {{f.name}}
                                </span>
                                <button type="button" class="close" ng-click="removeFile(f)" aria-hidden="true">×</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-gro p row" style="margin-top: 5px">
                        <div class="col-xs-12">
                            <span class="btn btn-primary btn-file pull-left ">
            انتخاب فایل (ها)  <input type="file" id="inputFile" ngf-select="" name="file" accept="image/*"
                                     ngf-max-size="50MB" ngf-model-invalid="errorFile" ngf-multiple="true"
                                     ngf-keep="'distinct'" ng-model="myFiles"
                                     ngf-change="filesChanged($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                     class="ng-pristine ng-untouched ng-valid ng-empty" multiple="multiple">
                            </span>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="answerModal.html">
    <div class="col-xs-12 fx-zoom-right fx-dur-600 fx-ease-expo fx-stagger-50">
        <div class="box">
            <div class="box-body">
                <div class="col-xs-12 persian-rtl" style="padding: 0;">
                    <div class="box-header with-border">
                        <h3 class="profile-username box-title">
                            <i ng-hide="answer.BestAnswer == 0" class="fa fa-check text-green faa-tada animated"></i>
                            {{answer.FullName}} <small>{{answer.OrganizationName}}</small>
                        </h3>
                        <span class="description persian-rtl pull-left text-muted" style="margin-right: 4%"><i class="fa fa-clock-o text-yellow" aria-hidden="true"></i>   {{answer.CreationDate | jalaliDate :'jYYYY/jMM/jDD' | pNumber}}</span>
                    </div>
                    <p style="min-height: 184px;padding: 10px;text-align:justify" compile="answer.AnswerText | pNumber"></p>
                    <div>
                        <ul class="nav nav-pills" style="padding-right: 0px;">
                            <li ng-repeat="at in answer.Attachments" class="active fx-zoom-right fx-dur-600 fx-ease-expo fx-stagger-50">
                                <a class="english-font link" ng-if="at.GeneralType=='Image'">
                                    {{at.Filename}}
                                    <img
                                            ng-src="{{'../' + at.AbsolutePath}}"
                                            style="width:30px;height: 30px;"
                                            class="img-circle" >
                                </a>
                                <a class="english-font link" ng-if="at.GeneralType!='Image'">
                                    <div>
                                        <span style="">{{at.Filename}}</span>
                                        <i style="height: 30px" class="fa fa-file fa-2x"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-sm btn-info" ng-click="cancel()">بستن</button>
            </div>
        </div>
    </div>
</script>
