<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="content-header vazir-font">
        <small>خانه</small>
        انجمن
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">انجمن</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border vazir-font">
                    <h3 class="box-title">عنوان سوال</h3>
                    <span class="description persian-rtl pull-left text-muted" style="margin-right: 4%"><i class="fa fa-clock-o" aria-hidden="true"></i>   {{question.CreationDate | jalaliDate :'jYYYY/jMM/jDD'}}</span>
                    <span class="description pull-left" style="margin-right: 4%">{{question.ViewCount}}   <i class="fa fa-eye" aria-hidden="true"></i></span>
                    <span class="description pull-left" style="margin-right: 4%">{{question.FollowCount}}   <i class="fa fa-users" aria-hidden="true"></i></span>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="col-xs-12">
                        <p class="persian-rtl text-right" style="font-size: 25px;">
                            {{question.Title}}
                        </p>
                        <a ng-show="question.PersonFollow == 0" ng-click="followQuestion()" class="btn btn-primary pull-left" style="margin: 5px"><b>دنبال کردن</b></a>
                        <a ng-hide="question.PersonFollow == 0" ng-click="unFollowQuestion()" class="btn btn-danger pull-left" style="margin: 5px"><b>حذف از دنبال کننده ها</b></a>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <span ng-repeat="tag in question.Tags" class="label pull-right" ng-class="getTagColor(tag.ID)" style="margin: 5px">  {{tag.Text}}  <i class="fa fa-tag" aria-hidden="true"></i></span>
                    <!--TODO kar dare in ghesmat-->
                    <i class="fa fa-thumbs-up" ng-show="question.PersonQuestionRate == 1" style="font-size: 20px;color:firebrick" aria-hidden="true"></i>
                    <i ng-click="setLikeQuestion(1)" class="fa fa-thumbs-o-up link hvr-pulse" ng-show="question.PersonQuestionRate != 1" style="font-size: 20px;" aria-hidden="true"></i>
                    <span class="badge bg-yellow" style="margin-bottom: 5px;">{{(question.QuestionScore)?question.QuestionScore:0}}</span>
                    <i ng-click="setLikeQuestion(-1)" class="fa fa-thumbs-o-down link hvr-pulse" ng-show="question.PersonQuestionRate != -1" style="font-size: 20px;" aria-hidden="true"></i>
                    <i class="fa fa-thumbs-down" ng-show="question.PersonQuestionRate == -1" style="font-size: 20px;color:firebrick" aria-hidden="true"></i>
                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-red-active">
                    <a href="#" style="cursor: pointer; color: white">
                        <h3 class="widget-user-username">{{question.FullName}}</h3>
                    </a>
                    <h5 class="widget-user-desc">{{question.Description}}</h5>
                </div>
                    <div class="widget-user-image" style="cursor: pointer">
                        <img class="img-circle" ui-sref="UserProfile({id:question.UserID})" src="{{question.FullPath}}" alt="User Avatar">
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">{{question.score}}</h5>
                                    <span class="description-text">امتیاز</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-sm-4 border-left">
                                <div class="description-block">
                                    <h5 class="description-header">{{question.QuestionsCount}}</h5>
                                    <span class="description-text">سوالات پرسیده</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">{{question.AnswerCount}}</h5>
                                    <span class="description-text">جواب ها</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
            </div><!-- /.widget-user -->
        </div>
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            سوال <i class="fa fa-question" aria-hidden="true"></i>
                        </h3>
                        <span class="description persian-rtl pull-left text-muted" style="margin-right: 4%"><i class="fa fa-clock-o" aria-hidden="true"></i>   {{question.CreationDate | jalaliDate :'jYYYY/jMM/jDD'}}</span>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body text-right">
                        {{question.QuestionText}}
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <span ng-repeat="tag in question.Tags" class="label pull-right" ng-class="getTagColor(tag.ID)" style="margin: 5px">  {{tag.Text}}  <i class="fa fa-tag" aria-hidden="true"></i></span>


                        <i class="fa fa-thumbs-up" ng-show="question.PersonQuestionRate == 1" style="font-size: 20px;color:firebrick" aria-hidden="true"></i>
                        <i ng-click="setLikeQuestion(1)" class="fa fa-thumbs-o-up link hvr-pulse" ng-show="question.PersonQuestionRate != 1" style="font-size: 20px;" aria-hidden="true"></i>
                        <span class="badge bg-yellow" style="margin-bottom: 5px;">{{(question.QuestionScore)?question.QuestionScore:0}}</span>
                        <i ng-click="setLikeQuestion(-1)" class="fa fa-thumbs-o-down link hvr-pulse" ng-show="question.PersonQuestionRate != -1" style="font-size: 20px;" aria-hidden="true"></i>
                        <i class="fa fa-thumbs-down" ng-show="question.PersonQuestionRate == -1" style="font-size: 20px;color:firebrick" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" ng-repeat="answer in question.Answers track by $index">
                <div class="box" ng-class="getBoxColor(answer.ID)">
                    <div class="box-body box-profile">
                        <div class="col-sm-3 col-xs-12">
                            <img class="profile-user-img img-responsive img-circle" alt="User profile picture" ui-sref="UserProfile({id:answer.UserID})" src="{{answer.FullPath}}">
                            <!--<a href="#" style="cursor: pointer; color: black">
                                <h3 class="text-center profile-username">نادیا معصومی</h3></a>-->
                            <p class="text-muted text-center">{{answer.Description}}</p>
                            <p class="text-muted text-center">{{answer.Email}}</p>
                            <ul class="list-group list-group-unbordered" style="margin-bottom: 0px;">
                                <li class="list-group-item">
                                    <a class="">{{answer.score}}</a> <b class="pull-right">امتیاز</b>
                                </li>
                                <li class="list-group-item">
                                    <a class="">{{answer.QuestionsCount}}</a> <b class="pull-right">سوالات پرسیده</b>
                                </li>
                                <li class="list-group-item">
                                    <a class="">{{answer.AnswerCount}}</a> <b class="pull-right">جواب ها</b>
                                </li>
                            </ul>
                            <a ng-show="answer.PersonFollow == 0 && user.UserID != answer.UserID" ng-click="followPerson(answer.UserID)" class="btn btn-primary btn-block"><b>دنبال کردن</b></a>
                            <a ng-hide="answer.PersonFollow == 0 || user.UserID == answer.UserID" ng-click="unFollowPerson(answer.UserID)" class="btn btn-danger btn-block"><b>حذف از دنبال کننده ها</b></a>
                        </div>
                        <div class="col-sm-9 col-xs-12 persian-rtl">
                            <div class="box-header with-border">
                                <h3 class="profile-username box-title">
                                    {{answer.FullName}} <small>{{answer.OrganizationName}}</small>
                                </h3>
                                <span class="description persian-rtl pull-left text-muted" style="margin-right: 4%"><i class="fa fa-clock-o" aria-hidden="true"></i>   {{answer.CreationDate | jalaliDate :'jYYYY/jMM/jDD'}}</span>
                            </div>
                            <p>{{answer.AnswerText}}</p>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <i class="fa fa-thumbs-up" ng-show="answer.PersonAnswerRate == 1" style="font-size: 20px;color:firebrick" aria-hidden="true"></i>
                        <i ng-click="setLikeAnswers(answer,1)" class="fa fa-thumbs-o-up link hvr-pulse" ng-show="answer.PersonAnswerRate != 1" style="font-size: 20px;" aria-hidden="true"></i>
                        <span class="badge bg-yellow" style="margin-bottom: 5px;">{{(answer.AnswerScore)?answer.AnswerScore:0}}</span>
                        <i ng-click="setLikeAnswers(answer,-1)" class="fa fa-thumbs-o-down link hvr-pulse" ng-show="answer.PersonAnswerRate != -1" style="font-size: 20px;" aria-hidden="true"></i>
                        <i class="fa fa-thumbs-down" ng-show="answer.PersonAnswerRate == -1" style="font-size: 20px;color:firebrick" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" id="test">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">پاسخ خود را وارد کنید</h3>
                    </div>
                    <div class="box-body box-profile">
                        <div class="col-sm-3 col-xs-12 pull-right">
                            <img class="profile-user-img img-responsive img-circle" alt="User profile picture" src="{{user.Image}}">
                            <a style="cursor: pointer; color: black">
                                <h3 class="text-center profile-username">{{user.FullName}}</h3>
                            </a>
                            <p class="text-muted text-center">{{user.Email}}</p>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="col-sm-9 col-sm-offset-3 col-xs-12">
                                <div class="form-group">
                                    <label for="comment"></label>
                                    <textarea dir="rtl" ng-model="answerText" class="form-control" rows="5" id="comment"></textarea>
                                </div>
                                <button ng-click="saveAnswer()" class="btn btn-primary pull-right col-sm-4 col-xs-12"><b>ثبت</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
