<div class="row">
    <div class="col-xs-12">
        <div class="col-md-3 no-padding">
            <div class="hovereffect">
                <img class="img-responsive" src="../Images/final-supervizer.png" alt="">
                <div class="overlay" id="hoverImage">
                    <h2>Hover effect 1</h2>
                </div>
            </div>
        </div>
    <div class="col-md-6 no-padding">
        <div class="col-xs-12 col-sm-6 no-padding">
            <div class="hovereffect">
                <img class="img-responsive" src="../Images/final-fiber.png" alt="">
                <div class="overlay" id="hoverImage">
                    <h2>Hover effect 1</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-xs-12 no-padding">
            <div class="hovereffect">
                <img class="img-responsive" src="../Images/final-carier.png" alt="">
                <div class="overlay">
                    <h2>Hover effect 1</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-xs-12 no-padding">
            <div class="hovereffect">
                <img class="img-responsive" src="../Images/final-markaz.png" alt="">
                <div class="overlay">
                    <h2>Hover effect 1</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-xs-12 no-padding">
            <div class="hovereffect">
                <img class="img-responsive" src="../Images/final-radio.png" alt="">
                <div class="overlay">
                    <h2>Hover effect 1</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div><!-- ./col -->
    </div>
    <div class="col-md-3 no-padding">
        <div class="hovereffect">
            <img class="img-responsive" src="../Images/photo33333.png" alt="">
            <div class="overlay" id="hoverImage">
                <h2>Hover effect 1</h2>
                <a class="info" href="#">link here</a>
            </div>
        </div>
    </div>
    </div>
    <button ng-click="show()">hhhhhhhh</button>
</div>
