<div class="row">
    <div class="col-xs-12">
        <div class="col-md-3 no-padding">
            <div class="hovereffect">
                <img class="img-responsive" src="../Images/final-supervizer.png" alt="">
                <div class="overlay" id="hoverImage">
                    <h2>Hover effect 1</h2>
                </div>
            </div>
        </div>
    <div class="col-md-6 no-padding">
        <div class="col-xs-12 col-sm-6 no-padding">
            <div class="hovereffect">
                <img class="img-responsive" src="../Images/final-fiber.png" alt="">
                <div ng-click="changeView('Transition')" class="overlay" id="hoverImage">
                    <h2>گروه خطوط ارتباطی</h2>
                    <a class="info" href="#">دنبال کردن</a>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-xs-12 no-padding">
            <div class="hovereffect">
                <img class="img-responsive" src="../Images/final-carier.png" alt="">
                <div ng-click="changeView('TransportManagement')" class="overlay">
                    <h2>گروه سیستم های انتقال</h2>
                    <a class="info" href="#">دنبال کردن</a>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-xs-12 no-padding">
            <div class="hovereffect">
                <img class="img-responsive" src="../Images/final-markaz.png" alt="">
                <div ng-click="changeView('DataSwitch')" class="overlay">
                    <h2>گروه مراکز خودکار و دیتا سوئیچ</h2>
                    <a class="info" href="#">دنبال کردن</a>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-sm-6 col-xs-12 no-padding">
            <div class="hovereffect">
                <img class="img-responsive" src="../Images/final-radio.png" alt="">
                <div ng-click="changeView('Radio')" class="overlay">
                    <h2>گروه رادیویی</h2>
                    <a class="info" href="#">دنبال کردن</a>
                </div>
            </div>
        </div><!-- ./col -->
    </div>
    <div class="col-md-3 no-padding">
        <div class="hovereffect">
            <img class="img-responsive" src="../Images/photo33333.png" alt="">
            <div ng-click="changeView('CommonTopics')" class="overlay link" id="hoverImage">
                <h2>مباحث مشترک</h2>
                <a class="info" href="#">دنبال کردن</a>
            </div>
        </div>
    </div>
    </div>
</div>
