<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="content-header vazir-font">
        <small> همه اعضا</small>
        مدیریت
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">همه اعضا</li>
    </ol>
</section>

<section class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title vazir-font">اعضا</h3>
                    <div class="box-tools">
                        <div class="input-group col-xs-9 col-md-4">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle pull-right" data-toggle="dropdown" aria-expanded="false" style="border-bottom-right-radius:3px;border-top-right-radius:3px;">
                                  {{dropDwonTitle}}
                                    <span class="fa fa-caret-down"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a ng-click="changeTypeFilter(null)" class="link persian-rtl text-right">همه ی اعضا</a></li>
                                    <li><a ng-click="changeTypeFilter(1)" class="link persian-rtl text-right">اعضای تایید شده</a></li>
                                    <li><a ng-click="changeTypeFilter(0)" class="link persian-rtl text-right">اعضا در انتظار تایید</a></li>
                                    <li><a ng-click="changeTypeFilter(-1)" class="link persian-rtl text-right">اعضای تایید نشده</a></li>
                                </ul>
                            </div>
                            <input type="text" name="table_search" ng-model="pagingParams.searchValue"
                                   ng-model-options="{debounce:500}" ng-change="search()" class="form-control input-sm pull-right"
                                   placeholder="جستجو ...">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default left-radius-btn"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>شماره</th>
                            <th>نام کامل</th>
                            <th>نام کاربری</th>
                            <th>تاریخ عضویت</th>
                            <th>تلفن همراه</th>
                            <th>وضعیت</th>
                            <th>ایمیل</th>
                            <th style="width: 100px;"></th>
                        </tr>
                        <tr ng-repeat="u in user.all">
                            <td>{{u.ID| pNumber}}</td>
                            <td>{{u.FullName| pNumber}}</td>
                            <td>{{u.Username| pNumber}}</td>
                            <td>{{u.SignupDate | jalaliDate :'jYYYY/jMM/jDD' | pNumber}}</td>
                            <td>{{u.PhoneNumber| pNumber}}</td>
                            <td ng-switch="u.UserAccepted">
                                <span class="label label-success" ng-switch-when="1">تایید شده</span>
                                <span class="label label-warning" ng-switch-when="0">در انتظار تایید</span>
                                <span class="label label-danger" ng-switch-when="-1">رد شده</span>
                            </td>
                            <td>{{u.Email}}</td>
                            <td>
                                <div class="table-action-icons" ng-if="session.AdminPermission=='Base'">
                                    <i confirm="آیا مطمئن هستید که میخواهید این کاربر '{{u.FullName}}' را حذف کنید؟"
                                       class="fa fa-trash text-red link hvr-grow" ng-click="removeUser(u.ID)"></i>
                                    <i class="fa fa-times link hvr-grow" ng-if="u.UserAccepted==1" style="color: #e67e22;"
                                       ng-click="changeUserState(u.ID ,-1)"></i>
                                    <i class="fa fa-check text-blue link hvr-grow"
                                       ng-if="u.UserAccepted==-1 || u.UserAccepted==0" ng-click="changeUserState(u.ID ,1)"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    <!--<ul class="pagination pagination-sm no-margin">-->
                    <!--<li><a href="#/">«</a></li>-->
                    <!--<li><a href="#/">۱</a></li>-->
                    <!--<li><a href="#/">۲</a></li>-->
                    <!--<li><a href="#/">۳</a></li>-->
                    <!--<li><a href="#/">»</a></li>-->
                    <!--</ul>-->

                    <auto-paging page="1"
                                 page-size="20"
                                 ul-class="pagination pagination-sm no-margin"
                                 action-name="getAllUsers"
                                 data-params="pagingParams"
                                 ng-control="pagingController"
                                 items="user.all">
                    </auto-paging>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
</section>




