<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="content-header vazir-font">
        <small>{{forumData.Subject.MainTitle| pNumber}}</small>
           انجمن
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i> {{forumData.Subject.Title | pNumber}}</a></li>
        <li class="active">انجمن</li>
    </ol>
</section>
<div class="row">
    <div class="col-xs-12">

        <div class="col-md-8 col-xs-12 pull-right">


            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title vazir-font">جدیدترین سوالات {{forumData.Subject.Title| pNumber}} </h3>
                    <i class="fa fa-question text-aqua"></i>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" ng-show="question.all.length > 0">
                        <tbody>
                        <tr class="link" ng-repeat="q in question.all">
                            <td><img  class="img-circle"
                                      ng-src="{{q.Image}}" src="../images/Avatar.jpg"
                                      style="width:40px"
                                      ng-style="{'border': (q.Rate > 5) ? activity.high :
                                                                (q.Rate > 2.5)?activity.medium : activity.low}"
                                      title="{{q.score | number:1 | pNumber | concat : ' امتیاز '}}"
                                      data-toggle="tooltip" data-placement="top"
                                      tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font"
                                      tooltip-append-to-body="true"></td>
                            <td ui-sref="question({id:q.ID})" >{{q.FullName | subString :20|pNumber}}</td>
                            <td ui-sref="question({id:q.ID})" ng-style="{color: (!q.QViewID)?'rgb(234, 189, 54)':'#777'}">
                                {{q.Title | subString :30|pNumber}}
                            </td>
                            <td ui-sref="question({id:q.ID})">
                                <span class="label label-success" style="font-size: 10px" ng-if="!q.QViewID">دیده
                                    نشده</span>
                            </td>
                            <td class="text-center" ui-sref="question({id:q.ID})" style="white-space: nowrap;" >
                                <span>{{q.AnswersCount || '0' |pNumber}}</span>  جواب
                            </td>
                            <td ui-sref="question({id:q.ID})"  style="white-space: nowrap;">
                                <span class="persian-rtl text-muted" style="font-size: 12px;">
                                    {{q.CreationDate | jalaliDate :'jYYYY/jMM/jDD' |pNumber}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    <auto-paging page="1"
                                 page-size="20"
                                 ul-class="pagination pagination-sm no-margin"
                                 action-name="getForumLastQuestions"
                                 data-params="pagingParams"
                                 ng-control="pagingController"
                                 on-load-finish="loadFinishPageData()"
                                 items="question.all"
                                 ng-show="question.all.length > 0">
                    </auto-paging>
                    <h4 class="text-center text-muted" ng-show="question.all.length == 0">
                        بدون سوال
                    </h4>
                </div>
            </div>
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title vazir-font">سوالات جواب داده شده</h3>
                    <i class="fa fa-question text-muted"></i>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" ng-show="question.allAnswered.length > 0">
                        <tbody>
                        <tr class="link" ng-repeat="q in question.allAnswered">
                            <td  style="width: 50px;">
                                <img class="img-circle" ng-src="{{q.Image}}" src="../images/Avatar.jpg"
                                     style="width:40px;"
                                     ng-style="{'border': (q.Rate > 5) ? activity.high :
                                                   (q.Rate > 2.5)?activity.medium:activity.low}"
                                     title="{{(q.score || '0' )| number:1 | pNumber | concat : ' امتیاز '}}" data-toggle="tooltip" data-placement="top"
                                     tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font"
                                     tooltip-append-to-body="true">
                            </td>
                            <td ui-sref="question({id:q.ID})">{{q.FullName | subString :20|pNumber}}</td>
                            <td ui-sref="question({id:q.ID})" ng-style="{color: (!q.QViewID)?'rgb(234, 189, 54)':'#777'}">
                                {{q.Title | subString :30|pNumber}}
                            </td>
                            <td ui-sref="question({id:q.ID})">
                                <span class="label label-success" style="font-size: 10px" ng-if="!q.QViewID">دیده
                                    نشده</span>
                            </td>
                            <td ui-sref="question({id:q.ID})" style="white-space: nowrap;">{{q.AnswersCount || '0'|pNumber}} جواب </td>
                            <td ui-sref="question({id:q.ID})" style="white-space: nowrap;">
                                <span class="persian-rtl text-muted" style="font-size: 12px;">
                                    {{q.CreationDate | jalaliDate :'jYYYY/jMM/jDD'|pNumber}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    <auto-paging page="1"
                                 page-size="20"
                                 ul-class="pagination pagination-sm no-margin"
                                 action-name="getLastForumAnsweredQuestions"
                                 data-params="pagingParams"
                                 ng-control="pagingController"
                                 on-load-finish="loadFinishPageData()"
                                 items="question.allAnswered"
                                 ng-show="question.allAnswered.length > 0">
                    </auto-paging>
                    <h4 class="text-center text-muted" ng-show="question.allAnswered.length == 0">
                        بدون سوال
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12 pull-right">
                <!--<div class="box box-danger">-->
                    <!--<div class="box-header with-border">-->
                        <!--<h3 class="box-title vazir-font">انجمن {{forumData.MainSubject.Title}}</h3>-->
                    <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                    <!--<div class="box-body persian-rtl" compile="forumData.MainSubject.Description">-->
                    <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.box &ndash;&gt;-->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title vazir-font">آمار بخش {{forumData.Subject.Title}}</h3>
                </div><!-- /.box-header -->
                <div class="box-body persian-rtl">
                    <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </div>
    </div>
</div>
