<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="content-header vazir-font">
        <small>پاپ آپ</small>
        مدیریت
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">پاپ آپ</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> پاپ آپ ها</h3>
                    <button class="btn btn-sm btn-info pull-left" ui-sref="new_popup"><i class="fa fa-plus"></i> افزودن پاپ آپ</button>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped" ng-show="popUps.length !=0">
                            <tbody>
                            <tr ng-init="all.checked = false">
                                <th>موضوع</th>
                                <th>متن پیام</th>
                                <th>تاریخ افزودن</th>
                                <th>تاریخ اتمام</th>
                                <th>وضعیت</th>
                                <th style="width: 175px"></th>
                            </tr>
                            <tr ng-repeat="mes in popUps">
                                <td>{{mes.Title | pNumber}}</td>
                                <td class="persian-rtl" compile="mes.ModalText | pNumber | subString:35"></td>
                                <td>{{mes.CreationDate | jalaliDate :'jYYYY/jMM/jDD' | pNumber}}</td>
                                <td>{{mes.ExpireDate | jalaliDate :'jYYYY/jMM/jDD' | pNumber}}</td>
                                <td ng-switch="mes.PopUpState">
                                    <span class="label label-success" ng-switch-when="true">فعال</span>
                                    <span class="label label-primary" ng-switch-when="false">غیر فعال</span>
                                </td>
                                <td>
                                    <div class="table-action-icons" ng-if="session.AdminPermissionLevel=='Base' || session.AdminPermission == adminType">
                                        <i confirm="آیا مطمئن هستید که میخواهید این پاپ آپ را حذف کنید؟"
                                           class="fa fa-trash text-red link hvr-grow" ng-click="deletePopUp(mes)" title="حذف پاپ آپ" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i>
                                        <i ng-if="mes.PopUpState == 'true'" confirm="آیا مطمئن هستید که میخواهید به این پاپ آپ پایان بدید؟" class="fa fa-flag-checkered link hvr-grow" ng-click="finishPopUo(mes.ID)" title="پایان دادن به پاپ آپ" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i>
                                        <i class="fa fa-eye text-blue link hvr-grow" ng-click="openPopUpModal(mes)" title="متن پاپ آپ" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i>
                                        <i class="fa fa-clock-o text-yellow link hvr-grow" ng-click="openPopUpUpdate(mes)" title="تمدید پاپ آپ" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i>
                                        <i ui-sref="new_popup({id:mes.ID})" class="fa fa-pencil text-green link hvr-grow" title="ویرایش پاپ آپ" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div ng-hide="popUps.length !=0" class="text-center">
                            <h4 class="text-muted">موردی یافت نشد</h4>
                        </div>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    <auto-paging page="1"
                                 page-size="20"
                                 ul-class="pagination pagination-sm no-margin"
                                 action-name="getAllPopUps"
                                 data-params="pagingParams"
                                 ng-control="pagingController"
                                 items="popUps">
                    </auto-paging>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<script  id="popUpUpdate.html" type="text/ng-template">
    <div class="modal-header">
        <h3 class="modal-title text-right">تمدید پاپ آپ</h3>
    </div>
    <div class="modal-body form">
        <div class="row persian-rtl">
            <div class="col-xs-12">
                <div class="form-horizontal form-group">

                    <div class="col-xs-12 col-md-8">
                        <adm-dtp ng-model='ExpireDate'
                                 options='{calType: "jalali",dtpType:"date", format: "YYYY/MM/DD", autoClose:true , default:"today"}'
                                 full-data="toFull" class="english-font"
                                 mindate="{{mindate}}"></adm-dtp>
                    </div>
                    <label class="col-md-4 col-xs-12 control-label">پایان پاپ آپ</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-flat pull-right" type="button" ng-click="upgrade()">تمدید</button>
        <button class="btn btn-success btn-flat pull-left" type="button" ng-click="cancel()">بستن</button>
    </div>
</script>

