<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="content-header vazir-font">
        <small>مدیریت</small>
        کنترل ها
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">کنترل ها</li>
    </ol>
</section>

<!-- Widgets-->
<div ng-include onload="fixPersian()" src="'partials/Admin/Elements/Widgets.html'"></div>

<!-- Tables-->
<div ng-include onload="fixPersian()" src="'partials/Admin/Elements/Tables.html'"></div>

<!-- Forms -->
<div ng-include onload="fixPersian()" src="'partials/Admin/Elements/Forms.html'"></div>

<!-- GeneralUI -->
<div ng-include onload="fixPersian()" src="'partials/Admin/Elements/GeneralUI.html'"></div>

<!-- Buttons -->
<div ng-include onload="fixPersian()" src="'partials/Admin/Elements/Buttons.html'"></div>

<!-- Timeline -->
<div ng-include onload="fixPersian()" src="'partials/Admin/Elements/Timeline.html'"></div>