<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="content-header vazir-font">
        <small> مطالب ادمین</small>
        مدیریت
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">مطالب ادمین</li>
    </ol>
</section>

<section class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 pull-right">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title vazir-font">مطالب ادمین</h3>
                    <a class="link btn btn-sm btn-primary pull-left" ng-href="#/NewAdminPost/">افزودن مطلب جدید<i class="fa fa-plus text-green link hvr-grow" title="افزودن مطلب" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i></a>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>عکس</th>
                                <th> نام کامل نویسنده</th>
                                <th>تاریخ ارسال</th>
                                <th>شاخه اصلی</th>
                                <th>زیر شاخه انجمن</th>
                                <th>نوع مطلب</th>
                                <th style="width: 225px;"></th>
                            </tr>
                            <tr ng-repeat="u in Posts">
                                <td>
                                    <img ng-src="{{u.FullPath || '../images/Avatar.jpg'}}" class="img-circle" alt="User Image" style="width: 38px;">
                                </td>
                                <td>{{u.FullName| pNumber}}</td>
                                <td>{{u.CreationDate | jalaliDate :'jYYYY/jMM/jDD' | pNumber}}</td>
                                <td>{{u.MainSubjectName | pNumber | subString:20}}</td>
                                <td>{{u.SubjectName | pNumber | subString:20}}</td>
                                <td>
                                    <span class="label" ng-class="getTagColor(u.PostTypeID)">{{u.PostType}}</span>
                                </td>
                                <td>
                                    <div class="table-action-icons" >
                                        <i confirm="آیا مطمئن هستید که میخواهید این مطلب را حذف کنید؟"
                                           class="fa fa-trash text-red link hvr-grow" ng-click="removePost(u.ID )" title="حذف مطلب" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i>
                                        <a class="link" ng-href="#/NewAdminPost/{{u.ID}}"><i class="fa fa-pencil text-green link hvr-grow" title="ویرایش مطلب" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i></a>
                                        <a class="link" ng-href="../Forum/#/AdminPost/{{u.ID}}"><i class="fa fa-angle-double-left text-teal link hvr-pulse" title="لینک مطلب" data-toggle="tooltip" data-placement="top" tooltip="Tooltip on left" tooltip-placement="top" tooltip-class="vazir-font" tooltip-append-to-body="true"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix text-center">
                    <auto-paging page="1"
                                 page-size="20"
                                 ul-class="pagination pagination-sm no-margin"
                                 action-name="getAllPosts"
                                 data-params="pagingParams"
                                 ng-control="pagingController"
                                 items="Posts">
                    </auto-paging>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
</section>




